@import "common.css";
@import "base.css";
#nav li {
  list-style: none;
  width: 68%;
  margin-top: 0;
  padding: 0.2rem 0.3rem;
  display: block;
  margin-left: 15%;
}
#nav li a {
  text-decoration: none;
  color: #666;
}
#nav li a:hover {
  color: #333;
}
.aa {
  line-height: 6rem;
  height: 6rem;
  border-right: 1px solid #AAC7E9;
  background: #E8F5FE;
  cursor: hand;
  border-top: 0.15rem solid #AAC7E9;
}
.bb {
  line-height: 6rem;
  height: 6rem;
  border: 1px solid #AAC7E9;
  background: #FFFFDD;
  cursor: hand;
  border-top: 0.15rem solid #ff9900;
}
.cc {
  border-top: 0.2rem solid #ff66ff;
  background: #fcf;
  cursor: hand;
}
.list2 {
  font-size: 0.65rem;
  line-height: 1rem;
  padding: 0.15rem;
  text-align: left;
  background: #FFFFFF;
}
.list2 li {
  color: #555;
  font-size: 0.65rem;
  line-height: 1.2rem;
  padding: 0 0 0 0.5rem;
}
.list2 a {
  text-decoration: underline;
}
.lfloat {
  float: left;
}
.rfloat {
  float: right;
}
.ctt {
  padding: 0;
  clear: both;
  border-top: 0.05rem solid #AAC7E9;
  border-right: 0.05rem solid #AAC7E9;
  border-bottom: 0.05rem solid #AAC7E9;
  text-align: left;
  height: 52.5rem;
}
.dis {
  display: block;
}
.undis {
  display: none;
}
li {
  list-style: none;
}
form,
ul {
  padding: 0;
  margin: 0;
}
.spn {
  font-size: 0.8rem;
}
.page-header {
  width: 100%;
  height: 6.4rem;
  background-color: #FC605A;
  overflow: hidden;
}
.page-header h3 {
  position: relative;
  font-size: 1.9rem;
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding: 0.7rem 0;
}
.page-header input {
  width: 60%;
  border: none;
  border-radius: 3rem;
  margin: 2% 5%;
  padding: 1.5% 7.5%;
  font-size: 1.7rem;
  float: left;
}
.page-header span {
  width: 15%;
  display: inline-block;
  margin: 3% 0;
  float: right;
}
.page-header span img {
  width: 50%;
}
.page-footer ul li p {
  font-size: 1.357rem;
}
#footer-p {
  font-size: 1.357rem;
}
.contaniner .assort {
  width: 40%;
  float: left;
}
.contaniner .assort ul {
  width: 100%;
}
.contaniner .assort ul li {
  width: 92%;
  background-color: #f5f5f5;
  border-bottom: solid 0.05rem #c8c8c8;
  border-right: solid 0.05rem #c8c8c8;
  padding: 12% 4%;
}
.contaniner .assort ul li img {
  width: 17%;
  margin: 0 10%;
  vertical-align: middle;
}
.contaniner .assort ul li span {
  font-size: 1.3865rem;
  color: #666;
  vertical-align: middle;
}
.contaniner .assort ul .active {
  border-right: none;
  background-color: #fff;
}
.assort-cont {
  width: 90%;
  margin: 5% 4%;
  float: right;
}
.assort-cont img {
  width: 100%;
}
.assort-cont dl {
  width: 100%;
  margin-top: 5%;
  overflow: hidden;
}
.assort-cont dl dt {
  font-size: 1.169rem;
  color: #999;
  margin-bottom: 3%;
  margin-top: 0.5rem;
}
.assort-cont dl dd {
  width: 48%;
  float: left;
  margin-bottom: 5%;
}
.assort-cont dl dd img {
  height: 50%;
}
.assort-cont dl dd a {
  width: 100%;
  display: block;
  text-decoration: none;
}
.assort-cont dl dd p {
  text-align: center;
  color: #666;
  font-size: 1.169rem;
  margin-top: 1rem;
}
.assort-cont dl dd:nth-child(even) {
  margin-right: 2%;
}
.assort-cont dl dd:nth-child(odd) {
  margin-left: 2%;
}
