body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
table,
td,
img,
div {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
ol {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
input,
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: grey;
}
:hover a {
  text-decoration: none;
}
body {
  font-size: 20px;
}
.page-footer {
  width: 100%;
  box-shadow: 0 -2px 4px #d7d7d7;
  overflow: hidden;
}
.page-footer ul {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.page-footer ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 3% 0;
}
.page-footer ul li a {
  width: 100%;
  display: block;
}
.page-footer ul li img {
  width: 25%;
}
.page-footer ul li p {
  font-size: 1.375rem;
  color: #333;
  margin-top: 3%;
}
