@import "base.css";
@import "common.css";
.go-order-header {
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  top: 0;
  position: fixed;
}
.go-order-header h3 {
  text-align: center;
  margin-top: 0rem;
  position: relative;
  top: -1.4rem;
  font-size: 1.8rem;
}
.go-order-header img {
  margin-left: 1rem;
  padding-top: 1rem;
}
.text-top {
  float: right;
  position: relative;
  top: -4rem;
}
.change-address {
  width: 100%;
  margin: 3% 0;
}
.change-address ul {
  width: 100%;
  background-color: #fff;
  margin: 3% 0;
}
.change-address ul li {
  position: relative;
  width: 90%;
  padding: 6% 5%;
  border-bottom: solid 1px #ccc;
  overflow: hidden;
}
.change-address ul li * {
  float: left;
}
.change-address ul li .addd {
  width: 30%;
  font-size: 1.25rem;
  color: #999;
}
.change-address ul li input[type="text"] {
  width: 70%;
  border: none;
  font-size: 1.45rem;
  color: #666;
}
.change-address ul li input[type="tel"] {
  width: 70%;
  border: none;
  font-size: 1.45rem;
  color: #666;
}
.change-address ul li select {
  border: none;
  font-size: 1.45rem;
  color: #666;
  background-color: #fff;
}
.change-address ul li textarea {
  border: none;
  font-size: 1.45rem;
  color: #666;
  background-color: #fff;
}
.change-address ul li .check {
  width: 80%;
  padding-right: 20%;
  font-size: 1.45rem;
  color: #666;
  -moz-user-select: none;
  background: url(../images/check.png) no-repeat;
  background-size: 6%;
  background-position: 95%;
}
.change-address ul li .checkd {
  width: 80%;
  padding-right: 20%;
  font-size: 1.45rem;
  color: #666;
  -moz-user-select: none;
  background: url(../images/check.png) no-repeat;
  background-size: 6%;
  background-position: 95%;
}
.change-address ul li input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  right: 5%;
  top: 40%;
}
.change-address ul li h3 {
  font-weight: normal;
  text-align: center;
  font-size: 1.45rem;
  color: #FC605A;
  width: 100%;
}
.change-address input[type=submit] {
  width: 90%;
  margin: 3% 5%;
  padding: 3% 0;
  font-size: 1.5rem;
  color: #fff;
  background-color: #45c018;
  border: none;
  border-radius: 0.4em;
}
