@import "base.css";
@import "common.css";
.top-header {
  display: block;
}
.text {
  margin-left: 29rem;
  position: relative;
  top: -3rem;
}
#text {
  margin-left: 2rem;
  position: relative;
  top: 2rem;
}
#text-h3 {
  text-align: center;
}
.login {
  width: 100%;
  margin-top: 5%;
}
.login form {
  width: 100%;
}
.login form ul {
  width: 100%;
  overflow: hidden;
}
.login form ul li {
  width: 90%;
  padding: 4% 5%;
  background-color: #fff;
  margin-bottom: 2%;
  overflow: hidden;
}
.login form ul li img {
  width: 7%;
  vertical-align: middle;
}
.login form ul li label {
  font-size: 1.4875rem;
  vertical-align: middle;
  color: #333;
  margin: 0 3%;
}
.login form ul li input {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4875rem;
  color: #666;
  border: none;
}
.login form input[type="submit"] {
  width: 94%;
  margin: 5% 3%;
  padding: 4% 0;
  background-color: #FC605A;
  color: #fff;
  font-size: 1.7rem;
  border-radius: 0.3rem;
  border: none;
}
